.profile__info {
  align-self: center;
  display: grid;
  grid-template-columns: 1fr 24px;
  grid-column-gap: 18px;
  grid-row-gap: 10px;
  max-width: 336px;
  margin-left: 30px;
  max-height: 73px;
}

@media screen and (max-width: 767px) {
  .profile__info {
    grid-column-gap: 10px;
    grid-row-gap: 12px;
    margin: 0;
    margin-top: 22.25px;
    max-width: 282px;
  }
}
