.popup__container {
  box-sizing: border-box;
  width: 430px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  margin-top: 195px;
  align-items: center;
  align-self: start;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  position: relative;
}

@media screen and (max-width: 767px) {
  .popup__container {
    width: calc(100% - (19px + 19px));
  }
}
