/* .profile__logo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.profile__logo:hover {
  cursor: pointer;
  opacity: 0.2;
} */

.profile__logo {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  align-self: flex-start;
  margin: 0;
  padding: 0;
  object-fit: cover;
}

@media screen and (max-width: 700px) {
  .profile__logo {
    align-self: center;
  }
}
