.elements {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  /* grid-template-rows: repeat(auto-fit, auto); */
  grid-column-gap: 17px;
  grid-row-gap: 20px;
  justify-content: center;
  max-width: 880px;
  padding: 51px 0 0 0;
  list-style-type: none;
  margin: 0 auto;
}

@media screen and (max-width: 1023px) {
  .elements {
    padding: 36px 0 0 0;
  }
}

@media screen and (max-width: 767px) {
  .elements {
    grid-template-columns: 1fr;
  }
}
