.profile__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  color: white;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .profile__description {
    max-width: 282px;
    font-size: 14px;
    line-height: 16.94px;
    text-align: center;
  }
}
